<a href="https://colab.research.google.com/github/Shifanashif/internship/blob/main/Day_1_with_assgnmnt.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#calculator
a=int(input("enter the number:"))
b=int(input("enter the number:"))
print('select operation:')
print('1.Add:')
print('2.Subtract:')
print('3.Multiply:')
print('4.Divide:')
n=int(input('enter your option :'))
if(n==1):
  r=a+b
  print(r)
elif(n==2):
   r=a-b
   print(r)
elif(n==3):
    r=a*b
    print(r)
elif(n==4):
  r=a/b
  print(r)
else:
    print('wrong input:')

enter the number:2
enter the number:4
select operation:
1.Add:
2.Subtract:
3.Multiply:
4.Divide:
enter your option :1
6

In [ ]:
#prime number or not
num=int(input("Enter the number:"))
c=0
i=1
while(i<=num):
  if num%i==0:
    c=c+1
  i=i+1
if c==2:
    print ("number is prime")
else:
    print("number is not prime")

Enter the number:1
number is not prime

In [ ]:
#find a leap year
year=int(input("enter the number:")) 
if year%4==0:
  print("leap year")
elif year%400==0:
  print("leap year")
else:
  print("not leap year")

enter the number:2020
leap year

In [ ]:
#sum of a number
a=int(input("enter the number:"))
s=0
for i in range (0,a+1):
  s=s+i
print("The sum is:",s)

enter the number:5
The sum is: 15

In [ ]:
def function_name(argument):
  #function perform operation

In [ ]:
def greet():
  print('HELLO')

In [ ]:
greet()

HELLO

In [ ]:
#add a number
def addnumber(num1,num2):
  sum=num1+num2
  print(sum)  
addnumber(4,5)

9

In [ ]:
#square of a number
def squarenumber(num1):
  square=num1*num1
  print(square)
squarenumber(5)

25

In [ ]:
#square of a number
def sqr(a):
  print("square of the number is:",a*a)

n=int(input("Enter the number:"))
sqr(n)

Enter the number:4
square of the number is: 16

DAY 1 ASSIGNMENT

In [ ]:
#sum of all elements
lst = []
n=int(input("Enter number of elements : "))
for i in range(0,n):
  print("Enter elements: ")
  ele = int(input())
  lst.append(ele) 
  print(lst)
sum = 0
for i in lst:
  sum += i
print("Sum of all elements in given list: ", sum)

Enter number of elements : 3
Enter elements:
1
[1]
Enter elements:
3
[1, 3]
Enter elements:
5
[1, 3, 5]
Sum of all elements in given list:  9

In [ ]:
#string length and half of string
string = input("Enter the string : ")
N=0
print("length of The String: ",len(string))
print("First half of the string: ",string[:len(string)//2])

Enter the string : shifana
length of The String:  7
First half of the string:  shi

In [ ]:
#resultant string and length
str1 = input("Enter first string: ")
str2 = input("Enter second string: " )
Add = str1 + str2
print("Resultant string is:", Add)
print("Length of the resultant string is:", len(Add))

Enter first string: shifana
Enter second string: fathima
Resultant string is: shifanafathima
Length of the resultant string is: 14

In [ ]:
#tuple of integer
tup = (78,45,32,19,82,77,40,39)
lst = list(tup)
lst[2] = 100
tup = tuple(lst)
print(tup)

(78, 45, 100, 19, 82, 77, 40, 39)

In [ ]:
#list a number
lst = [19,32,10,55,31,32,94,29,10,65,77,40,40]
lst[9] = 300
lst.remove(32)
while 40 in lst:
    lst.remove(40)
del lst[5]
print(len(lst))
lst[2]+=200
s=0
for i in lst:
  s=s+i
print(lst)
print("Length of list:", len(lst))
print("Maximum value in list:", max(lst))
print("Sum of all elements in list:", s)

9
[19, 10, 255, 31, 32, 29, 10, 300, 77]
Length of list: 9
Maximum value in list: 300
Sum of all elements in list: 763